:host { 
  display: contents; 
}
.about-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 5px;
  flex-direction: column;
}
.about-container1 {
  width: 100%;
  height: 300px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  background-size: cover;
  justify-content: flex-start;
  background-image: url("/assets/website%20banner%20no%20logo%20or%20name.png");
}
.about-container2 {
  display: flex;
  position: relative;
}
.about-navbar-interactive {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: 32px;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 32px;
  justify-content: space-between;
}
.about-desktop-menu {
  display: flex;
}
.about-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.about-navlink {
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}
.about-navlink01 {
  font-style: normal;
  font-weight: 500;
  margin-left: 32px;
  text-decoration: none;
}
.about-navlink02 {
  font-style: normal;
  font-weight: 500;
  margin-left: 32px;
  text-decoration: none;
}
.about-navlink03 {
  font-style: normal;
  font-weight: 500;
  margin-left: 32px;
  text-decoration: none;
}
.about-navlink04 {
  font-style: normal;
  font-weight: 500;
  margin-left: 32px;
  text-decoration: none;
}
.about-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.about-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.about-icon {
  width: 32px;
  height: 32px;
}
.about-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.about-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.about-container3 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 48px;
  justify-content: space-between;
}
.about-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-nav2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.about-navlink05 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.about-navlink06 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.about-navlink07 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.about-navlink08 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.about-navlink09 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.about-container4 {
  flex: 0 0 auto;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
}
.about-icon-group {
  display: flex;
}
.about-icon2 {
  width: 16px;
  height: 16px;
  margin-right: 32px;
}
.about-icon4 {
  width: 16px;
  height: 16px;
  margin-right: 32px;
}
.about-icon6 {
  width: 16px;
  height: 16px;
}
.about-image {
  width: 100px;
  align-self: center;
  margin-top: 40px;
  object-fit: cover;
}
.about-container5 {
  width: 400px;
  height: 66px;
  display: flex;
  align-self: center;
  margin-top: 20px;
  align-items: flex-start;
}
.about-text {
  display: block;
  font-size: 32px;
  align-self: center;
  font-style: normal;
  margin-top: 0px;
  font-weight: 800;
  margin-left: auto;
  margin-right: auto;
}
.about-text01 {
  align-self: center;
  margin-top: 50px;
}
.about-text02 {
  font-size: 14px;
  text-align: justify;
  padding-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-black);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
}
.about-link {
  text-decoration: underline;
}
.about-cards-container {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  grid-gap: var(--dl-space-space-doubleunit);
  flex-wrap: wrap;
  max-width: 1000px;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.about-footer {
  width: 100%;
  display: flex;
  max-width: 1400px;
  align-items: center;
  padding-top: 32px;
  padding-left: 48px;
  padding-right: 48px;
  flex-direction: column;
  padding-bottom: 32px;
  justify-content: space-between;
}
.about-container6 {
  display: flex;
  max-width: 1400px;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.about-nav3 {
  flex: 0 0 auto;
  display: flex;
  margin-top: 0px;
  align-items: center;
  flex-direction: row;
}
.about-navlink10 {
  margin-left: 0px;
  text-decoration: underline;
}
.about-navlink11 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: underline;
}
.about-navlink12 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: underline;
}
.about-navlink13 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: underline;
}
.about-navlink14 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: underline;
}
.about-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: 32px;
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: 32px;
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.about-container7 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.about-icon-group1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.about-link1 {
  display: contents;
}
.about-image1 {
  width: 100px;
  object-fit: cover;
  text-decoration: none;
}
@media(max-width: 991px) {
  .about-navlink {
    font-style: normal;
    font-weight: 500;
  }
  .about-navlink01 {
    font-style: normal;
    font-weight: 500;
  }
  .about-navlink02 {
    font-style: normal;
    font-weight: 500;
  }
  .about-navlink03 {
    font-style: normal;
    font-weight: 500;
  }
  .about-navlink04 {
    font-style: normal;
    font-weight: 500;
  }
  .about-text02 {
    border-width: 0px;
  }
  .about-cards-container {
    justify-content: center;
  }
  .about-image1 {
    width: auto;
    height: 50px;
  }
}
@media(max-width: 767px) {
  .about-navbar-interactive {
    padding-left: 32px;
    padding-right: 32px;
  }
  .about-navlink01 {
    margin-left: var(--dl-space-space-unit);
  }
  .about-navlink02 {
    margin-left: var(--dl-space-space-unit);
  }
  .about-navlink03 {
    margin-left: var(--dl-space-space-unit);
  }
  .about-navlink04 {
    margin-left: var(--dl-space-space-unit);
  }
  .about-footer {
    padding-left: 32px;
    padding-right: 32px;
  }
  .about-separator {
    margin-top: 24px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 24px;
  }
  .about-container7 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .about-text11 {
    margin-bottom: 24px;
  }
}
@media(max-width: 479px) {
  .about-container {
    border-width: 3px;
  }
  .about-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .about-desktop-menu {
    display: none;
  }
  .about-btn-group {
    display: none;
  }
  .about-burger-menu {
    display: flex;
  }
  .about-mobile-menu {
    padding: 16px;
  }
  .about-navlink05 {
    font-style: normal;
    font-weight: 500;
    text-decoration: underline;
  }
  .about-navlink06 {
    font-weight: 500;
    text-decoration: underline;
  }
  .about-navlink07 {
    font-weight: 500;
    text-decoration: underline;
  }
  .about-navlink08 {
    font-weight: 500;
    text-decoration: underline;
  }
  .about-navlink09 {
    font-style: normal;
    font-weight: 500;
    text-decoration: underline;
  }
  .about-text {
    display: block;
    font-size: 26px;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
  }
  .about-footer {
    padding: var(--dl-space-space-unit);
  }
  .about-separator {
    margin-top: 24px;
    margin-bottom: 24px;
  }
  .about-container7 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .about-text11 {
    text-align: center;
    margin-bottom: 24px;
  }
  .about-image1 {
    width: auto;
    height: 50px;
  }
}
