.contact-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 5px;
  flex-direction: column;
}
.contact-container1 {
  width: 100%;
  height: 300px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  background-size: cover;
  justify-content: flex-start;
  background-image: url("/website%20banner%20no%20logo%20or%20name.png");
}
.contact-container2 {
  display: flex;
  position: relative;
}
.contact-navbar-interactive {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: 32px;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 32px;
  justify-content: space-between;
}
.contact-desktop-menu {
  display: flex;
}
.contact-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.contact-navlink {
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}
.contact-navlink01 {
  font-style: normal;
  font-weight: 500;
  margin-left: 32px;
  text-decoration: none;
}
.contact-navlink02 {
  font-style: normal;
  font-weight: 500;
  margin-left: 32px;
  text-decoration: none;
}
.contact-navlink03 {
  font-style: normal;
  font-weight: 500;
  margin-left: 32px;
  text-decoration: none;
}
.contact-navlink04 {
  font-style: normal;
  font-weight: 500;
  margin-left: 32px;
  text-decoration: none;
}
.contact-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.contact-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.contact-icon {
  width: 32px;
  height: 32px;
}
.contact-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.contact-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.contact-container3 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 48px;
  justify-content: space-between;
}
.contact-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-nav2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.contact-navlink05 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.contact-navlink06 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.contact-navlink07 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.contact-navlink08 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.contact-navlink09 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.contact-container4 {
  flex: 0 0 auto;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
}
.contact-icon-group {
  display: flex;
}
.contact-icon2 {
  width: 16px;
  height: 16px;
  margin-right: 32px;
}
.contact-icon4 {
  width: 16px;
  height: 16px;
  margin-right: 32px;
}
.contact-icon6 {
  width: 16px;
  height: 16px;
}
.contact-image {
  width: 100px;
  align-self: center;
  margin-top: 40px;
  object-fit: cover;
}
.contact-container5 {
  width: 400px;
  height: 66px;
  display: flex;
  align-self: center;
  margin-top: 20px;
  align-items: flex-start;
}
.contact-text {
  display: block;
  font-size: 26px;
  align-self: center;
  font-style: normal;
  margin-top: 0px;
  font-weight: 800;
  margin-left: auto;
  margin-right: auto;
}
.contact-text1 {
  align-self: center;
  margin-top: 50px;
}
.contact-text2 {
  font-size: 14px;
  text-align: justify;
  padding-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-black);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
}
.contact-cards-container {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  grid-gap: var(--dl-space-space-doubleunit);
  flex-wrap: wrap;
  max-width: 1000px;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.contact-footer {
  width: 100%;
  display: flex;
  max-width: 1400px;
  align-items: center;
  padding-top: 32px;
  padding-left: 48px;
  padding-right: 48px;
  flex-direction: column;
  padding-bottom: 32px;
  justify-content: space-between;
}
.contact-container6 {
  display: flex;
  max-width: 1400px;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.contact-nav3 {
  flex: 0 0 auto;
  display: flex;
  margin-top: 0px;
  align-items: center;
  flex-direction: row;
}
.contact-navlink10 {
  margin-left: 0px;
  text-decoration: underline;
}
.contact-navlink11 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: underline;
}
.contact-navlink12 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: underline;
}
.contact-navlink13 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: underline;
}
.contact-navlink14 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: underline;
}
.contact-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: 32px;
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: 32px;
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.contact-container7 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.contact-icon-group1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.contact-link {
  display: contents;
}
.contact-image1 {
  width: 100px;
  object-fit: cover;
  text-decoration: none;
}
@media(max-width: 991px) {
  .contact-navlink {
    font-style: normal;
    font-weight: 500;
  }
  .contact-navlink01 {
    font-style: normal;
    font-weight: 500;
  }
  .contact-navlink02 {
    font-style: normal;
    font-weight: 500;
  }
  .contact-navlink03 {
    font-style: normal;
    font-weight: 500;
  }
  .contact-navlink04 {
    font-style: normal;
    font-weight: 500;
  }
  .contact-text2 {
    border-width: 0px;
  }
  .contact-cards-container {
    justify-content: center;
  }
  .contact-image1 {
    width: auto;
    height: 50px;
  }
}
@media(max-width: 767px) {
  .contact-navbar-interactive {
    padding-left: 32px;
    padding-right: 32px;
  }
  .contact-navlink01 {
    margin-left: var(--dl-space-space-unit);
  }
  .contact-navlink02 {
    margin-left: var(--dl-space-space-unit);
  }
  .contact-navlink03 {
    margin-left: var(--dl-space-space-unit);
  }
  .contact-navlink04 {
    margin-left: var(--dl-space-space-unit);
  }
  .contact-footer {
    padding-left: 32px;
    padding-right: 32px;
  }
  .contact-separator {
    margin-top: 24px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 24px;
  }
  .contact-container7 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .contact-text3 {
    margin-bottom: 24px;
  }
}
@media(max-width: 479px) {
  .contact-container {
    border-width: 3px;
  }
  .contact-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .contact-desktop-menu {
    display: none;
  }
  .contact-btn-group {
    display: none;
  }
  .contact-burger-menu {
    display: flex;
  }
  .contact-mobile-menu {
    padding: 16px;
  }
  .contact-navlink05 {
    font-style: normal;
    font-weight: 500;
    text-decoration: underline;
  }
  .contact-navlink06 {
    font-weight: 500;
    text-decoration: underline;
  }
  .contact-navlink07 {
    font-weight: 500;
    text-decoration: underline;
  }
  .contact-navlink08 {
    font-weight: 500;
    text-decoration: underline;
  }
  .contact-navlink09 {
    font-style: normal;
    font-weight: 500;
    text-decoration: underline;
  }
  .contact-footer {
    padding: var(--dl-space-space-unit);
  }
  .contact-separator {
    margin-top: 24px;
    margin-bottom: 24px;
  }
  .contact-container7 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .contact-text3 {
    text-align: center;
    margin-bottom: 24px;
  }
  .contact-image1 {
    width: auto;
    height: 50px;
  }
}
