.smart0183-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 5px;
  flex-direction: column;
}
.smart0183-container01 {
  width: 100%;
  height: 300px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  background-size: cover;
  justify-content: flex-start;
  background-image: url("/website%20banner%20no%20logo%20or%20name.png");
}
.smart0183-container02 {
  display: flex;
  position: relative;
}
.smart0183-navbar-interactive {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: 32px;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 32px;
  justify-content: space-between;
}
.smart0183-desktop-menu {
  display: flex;
}
.smart0183-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.smart0183-navlink {
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}
.smart0183-navlink01 {
  font-style: normal;
  font-weight: 500;
  margin-left: 32px;
  text-decoration: none;
}
.smart0183-navlink02 {
  font-style: normal;
  font-weight: 500;
  margin-left: 32px;
  text-decoration: none;
}
.smart0183-navlink03 {
  font-style: normal;
  font-weight: 500;
  margin-left: 32px;
  text-decoration: none;
}
.smart0183-navlink04 {
  font-style: normal;
  font-weight: 500;
  margin-left: 32px;
  text-decoration: none;
}
.smart0183-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.smart0183-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.smart0183-icon {
  width: 32px;
  height: 32px;
}
.smart0183-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.smart0183-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.smart0183-container03 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 48px;
  justify-content: space-between;
}
.smart0183-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.smart0183-nav2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.smart0183-navlink05 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.smart0183-navlink06 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.smart0183-navlink07 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.smart0183-navlink08 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.smart0183-navlink09 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.smart0183-container04 {
  flex: 0 0 auto;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
}
.smart0183-icon-group {
  display: flex;
}
.smart0183-icon2 {
  width: 16px;
  height: 16px;
  margin-right: 32px;
}
.smart0183-icon4 {
  width: 16px;
  height: 16px;
  margin-right: 32px;
}
.smart0183-icon6 {
  width: 16px;
  height: 16px;
}
.smart0183-image {
  width: 100px;
  align-self: center;
  margin-top: 40px;
  object-fit: cover;
}
.smart0183-container05 {
  width: 400px;
  height: 66px;
  display: flex;
  align-self: center;
  margin-top: 20px;
  align-items: flex-start;
}
.smart0183-text {
  display: block;
  font-size: 32px;
  align-self: center;
  font-style: normal;
  margin-top: 0px;
  font-weight: 800;
  margin-left: auto;
  margin-right: auto;
}
.smart0183-text01 {
  align-self: center;
  margin-top: 50px;
}
.smart0183-container06 {
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.smart0183-link {
  font-size: 14px;
  text-align: justify;
  padding-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-black);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.smart0183-text07 {
  color: #0000ff;
  text-decoration: underline;
}
.smart0183-link1 {
  display: contents;
}
.smart0183-image1 {
  width: 300px;
  align-self: center;
  object-fit: cover;
  padding-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.smart0183-container07 {
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.smart0183-container08 {
  width: 435px;
  height: 226px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
}
.smart0183-container09 {
  display: contents;
}
.smart0183-footer {
  width: 100%;
  display: flex;
  max-width: 1400px;
  align-items: center;
  padding-top: 32px;
  padding-left: 48px;
  padding-right: 48px;
  flex-direction: column;
  padding-bottom: 32px;
  justify-content: space-between;
}
.smart0183-container10 {
  display: flex;
  max-width: 1400px;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.smart0183-nav3 {
  flex: 0 0 auto;
  display: flex;
  margin-top: 0px;
  align-items: center;
  flex-direction: row;
}
.smart0183-navlink10 {
  margin-left: 0px;
  text-decoration: underline;
}
.smart0183-navlink11 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: underline;
}
.smart0183-navlink12 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: underline;
}
.smart0183-navlink13 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: underline;
}
.smart0183-navlink14 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: underline;
}
.smart0183-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: 32px;
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: 32px;
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.smart0183-container11 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.smart0183-icon-group1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.smart0183-link2 {
  display: contents;
}
.smart0183-image2 {
  width: 100px;
  object-fit: cover;
  text-decoration: none;
}
@media(max-width: 991px) {
  .smart0183-navlink {
    font-style: normal;
    font-weight: 500;
  }
  .smart0183-navlink01 {
    font-style: normal;
    font-weight: 500;
  }
  .smart0183-navlink02 {
    font-style: normal;
    font-weight: 500;
  }
  .smart0183-navlink03 {
    font-style: normal;
    font-weight: 500;
  }
  .smart0183-navlink04 {
    font-style: normal;
    font-weight: 500;
  }
  .smart0183-link {
    border-width: 0px;
  }
  .smart0183-image2 {
    width: auto;
    height: 50px;
  }
}
@media(max-width: 767px) {
  .smart0183-navbar-interactive {
    padding-left: 32px;
    padding-right: 32px;
  }
  .smart0183-navlink01 {
    margin-left: var(--dl-space-space-unit);
  }
  .smart0183-navlink02 {
    margin-left: var(--dl-space-space-unit);
  }
  .smart0183-navlink03 {
    margin-left: var(--dl-space-space-unit);
  }
  .smart0183-navlink04 {
    margin-left: var(--dl-space-space-unit);
  }
  .smart0183-footer {
    padding-left: 32px;
    padding-right: 32px;
  }
  .smart0183-separator {
    margin-top: 24px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 24px;
  }
  .smart0183-container11 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .smart0183-text11 {
    margin-bottom: 24px;
  }
}
@media(max-width: 479px) {
  .smart0183-container {
    border-width: 3px;
  }
  .smart0183-navbar-interactive {
    padding: var(--dl-space-space-unit);
    padding-bottom: 1em;
  }
  .smart0183-desktop-menu {
    display: none;
  }
  .smart0183-btn-group {
    display: none;
  }
  .smart0183-burger-menu {
    display: flex;
  }
  .smart0183-mobile-menu {
    padding: 16px;
  }
  .smart0183-navlink05 {
    font-style: normal;
    font-weight: 500;
    text-decoration: underline;
  }
  .smart0183-navlink06 {
    font-style: normal;
    font-weight: 500;
    text-decoration: underline;
  }
  .smart0183-navlink07 {
    font-weight: 500;
    text-decoration: underline;
  }
  .smart0183-navlink08 {
    font-weight: 500;
    text-decoration: underline;
  }
  .smart0183-navlink09 {
    font-style: normal;
    font-weight: 500;
    text-decoration: underline;
  }
  .smart0183-text {
    display: block;
    font-size: 26px;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
  }
  .smart0183-footer {
    padding: var(--dl-space-space-unit);
  }
  .smart0183-separator {
    margin-top: 24px;
    margin-bottom: 24px;
  }
  .smart0183-container11 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .smart0183-text11 {
    text-align: center;
    margin-bottom: 24px;
  }
  .smart0183-image2 {
    width: auto;
    height: 50px;
  }
}
